#page__project-detail {
    .hero-image-container{
        justify-content: center;
        .hero-image {
            max-height: 70vh;
        }
        figure {
            width: 100%;
        }
    }
}